@import '../styles/global';
@import '../styles/colors';
@import '../styles/typography';

.about {
  background-color: #f9f9f9;
  padding: 5rem 0; // Top and bottom padding for the section 

  @media (max-width: 1020px) {
    padding: 20rem 0; // Adjust padding for medium screens 
  }

  @media (max-width: 600px) {
    padding: 40rem 0; //Adjust padding for smaller screens 
  }
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  //gap: 1rem; // Space between grid items 
  //justify-content: center; 
  align-items: center;

  @media (max-width: 1020px) {
    grid-template-columns: 1fr; // Stack content vertically 
    text-align: center;
    gap: 1rem; // Smaller gap on medium screens
  }

  @media (max-width: 600px) {
    gap: 1rem; // Smaller gap for small screens
  }
}

.text-side {
  padding-right: 1.5rem;
  font-weight: 500;
  color: #555555;
  font-family: $text-font;
  line-height: 1.0;

  @media (max-width: 1020px) {
    max-width: 54rem;
    margin: 0 auto;
  }

  @media (max-width: 600px) {
    padding: 500 10rem; // Padding on smaller screens 
  }

  h3 {
    color: $header-color;
    font-size: 25px;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 30px;
    margin-bottom: 1rem;
  }

  p {
    font-size: 20px;
    margin-bottom: 1rem;
  }

}

.img-side {
  display: flex;
  justify-content: center; // Center image horizontally 

  &__main-img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 1.0rem;

    @media (max-width: 1020px) {
      margin-bottom: 3.5rem;
    }

    @media (max-width: 600px) {
      margin-bottom: 2rem;
    }
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  //margin-top: 1rem;
  //margin-bottom: px;
  position: relative;
  padding-bottom: 20px;

  p {
    font-family: $text-font;
    font-weight: 650;
    color: $black-shade;
    margin-bottom: 1.5rem;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @media (max-width: 600px) {
      align-items: center;
      padding-left: 8%;
    }

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;

      li {
        cursor: pointer;

        img {
          width: 4rem;
          height: 2.9rem;
          transition: all ease-in-out 0.2s;

          &:hover {
            transform: translateY(-1rem);
          }
        }
      }
    }
  }
}