.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #8d7b7bd7;
  color: #d4d4d4;
  
  .footer-left {
    flex: 1;
  }

  .footer-right {
    flex: 1;
    text-align: right;
    padding-right: 20%;
  }

  .gfooter-logo {
    width: 30px; // Adjust size as needed
    height: auto;
    margin-right: 30px;
  }
}