* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: #ebeaea;
    color: #3a3737;
  }

  section {
    padding: 60px 20px; 
    min-height: 100vh; 
    box-sizing: border-box; 
  }
  
  @media (max-width: 900px) {
    section {
      padding: 40px 15px; 
    }
  
    .navbar {
      padding: 15px 30px; 
  }
  
  @media (max-width: 600px) {
    section {
      padding: 30px 10px; 
    }
  }
}