@import '../styles/typography';
@import '../styles/global';
@import '../styles/colors';


.projects {
  padding: 50px 0;
  background-color: $gray-bg-color;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__content {
    text-align: center;
    p {
      color: $header-color;
      font-family: $text-font;
      font-size: $text-size;
      //text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    h3 {
      font-family: $text-font;
      font-size: $headings-size;
      color: #555555;
      margin-bottom: 3rem;
    }
  }

  &__grid {
    display: flex; 
    flex-direction: column; 
    gap: 5rem; 
    align-items: center; 
  }
}